#header img {
    width: 90px;
}

.text-platzi {
    color: #97c93e !important;
}

/* main */

#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover; /* mantiene la proporcion original de la imagen */
    filter: grayscale(70%); /* Agregar un filtro a las img al 70% en escala de grisis */
}

#carousel {
    position: relative;
}
#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

.btn-platzi {
    background-color: #97c93e !important;
    color: white;
}

.btn-platzi:hover {
    background-color: #3f5f06 !important;
    color: white;    
}

/* lugar y fecha */
#place-time {
    background-color: #1D252C;
    color: white;
}

#place-time img {
    max-width: 100%;
}

/* footer */

#footer {
    background: #273D4A;
   
}
#footer a {
    text-decoration: none;
    color: white;
}